.gauche
{

    float: left;
    background-color: grey;
    height: 700px;
    width: 9%;
    border-radius: 10px;
}


.droite

{
    float:right;
    width: 88%;

}



h1
{

    color: purple;

}

.intro
{

    text-align: center;

}


img
{

    float: right;
    box-shadow: 3px 6px 6px black;
}

p
{

    border: 5px blue double;
    font-weight: bolder;
}

@font-face 
{

    font-family: 'MyFont';
    src: url('Black Vosten Personal Use.otf');
}

h2
{

    font-family: 'MyFont', Arial, serif;

}

li
{

    text-shadow: 3px 3px 5px black;

}

#container

{

    display: flex;
    flex-direction: row;
}

section

{

    width: 33%;

}


@media all and (min-device-width: 320px) and (max-device-width: 480px)

{

    .gauche
    {

        width: 0%;

    }

    .droite

    {

        width: 100%;

    }


    #container
    {


        display: flex;
        flex-direction: column;

    }


}


@media all and (orientation: landscape)

{


.gauche
    {

        width: 0%;

    }

    .droite

    {

        width: 100%;

    }


    #container
    {


        display: flex;
        flex-direction: column;

    }

}
